.dialogs__wrap{
 display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog__item{
    padding: 10px;
    border-bottom: 1px solid lightslategray;
    display:  flex;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}
.dialog__item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dialog__item.active{
    color: crimson;
    font-weight: bolder;
}
.messages__item{
    padding: 15px;

}
.messages__item img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
