.all{
    padding: 25px 20px;
}
.userContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  30px 0;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: rgba(255,173,135,0.5);
}
.image_wrap{
    width: 19.9%;
}
.name{
    font-weight: bolder;
    color: crimson;
    text-align: right;
    font-size: 1.1em;

}
.discription span{
    display: block;
}
.image_wrap img{
    width: 125px;
    height: 125px;
}
.image_wrap button{
    width: 125px;
    background-color: rgba(220,20,60,0.9);
    font-size: 15px;
    padding: 0.1em;
    color: white;
    border: none;

}

.image_wrap button.mode_Green{
    background-color: darkseagreen;
}

.image_wrap button:disabled{
    background-color: lightslategray;
}
