.all{
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.users{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.userContainer{
    width: 46%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:  10px;
    border-radius: 5px;
    background-color: rgba(255,173,135,0.5);
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.image_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name{
    font-weight: bolder;
    color: crimson;
    font-size: 1.5em;

}
.discription{

}
.discription span{
    display: block;
}
.image_wrap img{
    width: 100%;
    height: auto;
}
.userContainer button{
    width: 50%;
    background-color: rgba(220,20,60,0.9);
    font-size: 15px;
    padding: 0.15em;
    border-radius: 5px;
    color: white;
    border: none;

}

.userContainer button.mode_Green{
    background-color: darkseagreen;
}

.userContainer button:disabled{
    background-color: lightslategray;
}
