.userContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: rgba(255,173,135,0.5);
}
.discription{
    position: relative;
    width: 79%;
}
.image_wrap{
    width: 19.9%;
}
.name{
    font-weight: bolder;
    color: crimson;
    text-align: right;
    font-size: 1.1em;

}
.discription span{
    display: block;
}
.image_wrap img{
    width: 150px;
    height: 150px;
}