body,
html {
  margin: 0;
  padding: 0;
}
.AppWrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.contentWrapper{
  background-color: rgb(246, 213, 102);
  grid-area: c;
  padding: 10px;
}