body,
html {
  margin: 0;
  padding: 0;
}
.App {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  background-color: rgb(189, 203, 241);
  grid-area: h;
}
.logo__txt {
  font-family: "Suez One", serif;
  text-align: center;
}
.main {
  background-color: rgb(246, 213, 102);
  grid-area: c;
}
.main img {
  width: 100%;
}
.nav {
  background-color: rgb(223, 225, 248);
  grid-area: n;
}
