.hiden{

   display: none;
}
.header {
   background-color: #212122;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 10px;
}
.helper_wrapper{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
}
.wrapper{
   display: block;
   width: 1200px;
}
.left{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo__txt {
   text-align: center;
   margin: 0 20px 0 0;
   background-color: #D6001C;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   text-decoration: none;
}
.logo__txt span{
   color: white;
   margin: 0;
   padding: 0;
   line-height: 1;
   text-decoration: none;
   font-size: 1.4em;
   font-weight: bold;
}

.nav{
   display: flex;

}
.item {
   display: block;
   color: white;
   text-decoration: none;
   margin: 0 10px;
}
.item.active {
   color: #D63247;
   font-weight: bolder;
}
.item:hover{
   color: #D63247;
}

.login{
position: relative;
}
.linkWrap{
   display: none;
   color: rgba(255,255,255,0.7);
}

.profile{
   padding:  0 20px ;
   line-height: 1;
   box-shadow: 0 0 5px #212122;
   border-radius: 5px;
   z-index: 1;
}

.profile:hover{
   position: absolute;
   top: -15px;
   background-color:  #212122;
   right: 0;

}
.profile:hover span{
   display: block;
   margin: 12px 0 ;
   border-bottom: 1px  solid white;
   padding-bottom: 1em;
   text-align: center;
   transition: 0.3s;
}
.profile:hover span:last-child{
   margin: 0 0  1px;
   border-bottom:none;
}
.profile span:hover,
.loginButton:hover{
color:rgba(255,255,255,1)
}
.nickname{
   text-decoration: none;
   cursor: pointer;
   color: inherit;
}
.loginButton{
   background-color: transparent;
   color: rgba(255,255,255,0.9);
   cursor: pointer;
   font-size: inherit;
   text-decoration: none;
   border: none;
   text-align: left;

}
.profileInfo{
   display: flex;
   align-items: center;
}
.profileInfo img{
   width: 30px;
   height: 30px;
   margin-left: 8px;
}
@media (max-width: 479px) {
   .header{

      padding: 8px;
   }
   .logo__txt{
      margin: 0  ;
   }
   .item{
      margin-right: 5px;
   }
   .item:first-child{
      display: none;
   }
}